<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- XACRO MACROS FOR VISUALS AND COLLISIONS -->
    <xacro:macro name="visuals_collisions_left_camera" params="">
    	<xacro:if value="${helmet_cameras_viz}">
			<visual>
				<origin xyz="0 0 0" rpy="${PI_2} 0 ${PI_2}"/>
				<geometry>
					<mesh filename="package://nao_dcm_description/meshes/camera.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="${PI_2} 0 ${PI_2}"/>
				<geometry>
					<mesh filename="package://nao_dcm_description/meshes/camera.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_right_camera" params="">
		<xacro:if value="${helmet_cameras_viz}">
			<visual>
				<origin xyz="0 0 0" rpy="${PI_2} 0 ${PI_2}"/>
				<geometry>
					<mesh filename="package://nao_dcm_description/meshes/camera.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="${PI_2} 0 ${PI_2}"/>
				<geometry>
					<mesh filename="package://nao_dcm_description/meshes/camera.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>
	<!-- HELMET CAMERAS JOINTS -->
	<joint name="helmet-left-camera" type="fixed">
        <parent link="helmet"/>
        <child link="LeftCamera"/>
        <origin xyz="0 ${0.10785/2} ${0.12496-0.0975}" rpy="0 0 0"/>
    </joint>
    <link name="LeftCamera">
        <xacro:visuals_collisions_left_camera/>
        <inertial> <!-- sample values for my cameras -->
            <mass value="0.07" />
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9" />
        </inertial>
    </link>
    <joint name="helmet-right-camera" type="fixed">
        <parent link="helmet"/>
        <child link="RightCamera"/>
        <origin xyz="0 -${0.10785/2} ${0.12496-0.0975}" rpy="0 0 0"/>
    </joint>
    <link name="RightCamera">
        <xacro:visuals_collisions_right_camera/>
        <inertial> <!-- sample values for my cameras -->
            <mass value="0.07" />
            <origin xyz="0 0 0"/>
            <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9" />
        </inertial>
    </link>
    <!-- GAZEBO RELATED PARAMETERS -->
    <!-- DUMMY VALUES - CHANGE TO THE ONES YOUR CAMERAS HAVE -->
    <gazebo reference="LeftCamera">
        <sensor type="camera" name="LeftCamera">
            <update_rate>10.0</update_rate>
            <camera name="left_camera">
                <horizontal_fov>1.06290551</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.3</near>
                    <far>500</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>10.0</updateRate>
                <cameraName>nao_dcm/CameraLeft</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>LeftCamera</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>

    <gazebo reference="RightCamera">
        <sensor type="camera" name="RightCamera">
            <update_rate>10.0</update_rate>
            <camera name="right_camera">
                <horizontal_fov>1.06290551</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.3</near>
                    <far>500</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>10.0</updateRate>
                <cameraName>nao_dcm/CameraRight</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>RightCamera</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>
</robot>