<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- IMU -->
    <joint name="torso-imu" type="fixed">
        <parent link="torso"/>
        <child link="imu"/>
        <!-- Accelerometer -->
        <origin xyz="-0.008 0.00606 0.027" rpy="0 0 0"/>
        <!-- Gyrometer -->
        <!-- <origin xyz="-0.008 0.006 0.029" rpy="0 0 0"/> -->
    </joint>
    <link name="imu"/>
</robot>
