<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">    
    <!-- SONARS -->
    <!-- Nao has different sonar transmitter and receiver. The correct way is to take the intersection of the 2 cones -->
    <!-- <joint name="RightSonarTransmitter" type="fixed">
        <parent link="torso"/>
        <child link="SonarRightTransmitter"/>
        <origin xyz="0.0537 -0.0341 0.0698"  rpy="0.0 -0.1745 -0.3490"/>
    </joint>
    <link name="SonarRightTransmitter"/>

    <joint name="LeftSonarTransmitter" type="fixed">
        <parent link="torso"/>
        <child link="SonarLeftTransmitter"/>
        <origin xyz="0.0537 0.0341 0.0698"  rpy="0.0 -0.1745 0.3490"/>
    </joint>
    <link name="SonarLeftTransmitter"/> -->
    <joint name="RightSonar" type="fixed">
        <parent link="torso"/>
        <child link="SonarRight"/>
        <origin xyz="0.0477 -0.0416 0.0509" rpy="0 0.2618 -0.4363"/>
    </joint>
    <link name="SonarRight"/>
    <joint name="LeftSonar" type="fixed">
        <parent link="torso"/>
        <child link="SonarLeft"/>
        <origin xyz="0.0477 0.0416 0.0509" rpy="0 0.2618 0.4363"/>
    </joint>
    <link name="SonarLeft"/>
</robot>
