<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!-- DUMMY ROOT LINK -->
    <link name="base_link"/>
    <joint name="fixed-base" type="fixed">
        <parent link="base_link"/>
        <child link="torso"/>
    </joint>
    <!-- TORSO -->
    <link name="torso">
        <xacro:visuals_collisions_torso/>
        <inertial>
            <!-- CENTER OF MASS -->
            <origin rpy="0 0 0" xyz="-0.00413 0.00009 0.04342"/>
            <mass value="1.04956"/>
            <inertia ixx="0.00506234058" ixy="0.00001431158" ixz="0.00015519082" iyy="0.00488013591" iyz="-0.00002707934" izz="0.00161030006"/>
        </inertial>
    </link>
</robot>
