#!/usr/bin/env python

# Copyright (c) 2014, Konstantinos Chatzilygeroudis
# All rights reserved.

# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

PACKAGE = "nao_dcm_camera"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Name, Type, Reconfiguration level, Description, Default, Min, Max

resolutions = gen.enum([gen.const("160x120", int_t, 0, ""),
                  gen.const("320x240", int_t, 1, ""),
                  gen.const("640x480", int_t, 2, ""),
                  gen.const("1280x960", int_t, 3, "")
                  ],
                 "Resolutions for camera.")

gen.add("top_resolution", int_t, 0,
        "Camera Top resolution.", 1, edit_method = resolutions)

gen.add("bottom_resolution", int_t, 0,
        "Camera Bottom resolution.", 1, edit_method = resolutions)

gen.add("top_frame_rate", double_t, 0,
        "Camera Top speed (frames per second).", 30.0, 1., 30.0)

gen.add("bottom_frame_rate", double_t, 0,
        "Camera Bottom speed (frames per second).", 30.0, 1., 30.0)

#gen.add("top_camera_info_url", str_t, 0,
#        "Camera Top calibration file (camera_top_rgb8_[top_resolution]) for this video_mode (uncalibrated if null).", "")

#gen.add("bottom_camera_info_url", str_t, 0,
#        "Camera Bottom calibration file (camera_bottom_rgb8_[top_resolution]) for this video_mode (uncalibrated if null).", "")


exit(gen.generate(PACKAGE, "NaoDCMCamera", "NaoDCMCamera"))
