<?xml version="1.0"?>
<launch>
	<include file="$(find nao_dcm_description)/launch/nao_dcm_H25_urdf.launch" />
	<arg name="model" />
	<arg name="gui" default="true" />
	<param name="use_gui" value="$(arg gui)" />
	<!-- Start state publishers -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<!-- Start RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nao_dcm_description)/config/nao_dcm.rviz" />
</launch>