<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- MATERIALS -->
	<material name="Blue">
		<color rgba="0 0 1 1"/>
    </material>

    <material name="Red">
    	<color rgba="1 0 0 1"/>
  	</material>

  	<material name="Green">
        <color rgba="0 1 0 1"/>
	</material>

	<material name="Yellow">
		<color rgba="1 1 0 1"/>
    </material>

    <material name="LightGrey">
    	<color rgba="0.8 0.8 0.8 1.0"/>
	</material>

    <!-- END OF MATERIALS -->

    <!-- XACRO MACROS FOR VISUALS AND COLLISIONS -->

	<xacro:macro name="visuals_collisions_torso" params="">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0.02075" rpy="0 0 0"/>
	            <geometry>
	                <box size="0.04 0.1 0.2115"/>
	            </geometry>
				<material name="Blue"/>
			</visual>
			<collision>
				<origin xyz="0 0 0.02075" rpy="0 0 0"/>
	            <geometry>
	                <box size="0.04 0.1 0.2115"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/Torso.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/Torso.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_head_yaw" params="">
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/HeadYaw.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/HeadYaw.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_head_pitch" params="">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0.058" rpy="${PI_2} 0 0"/>
	            <geometry>
	                <cylinder radius="0.04" length="0.14"/>
	            </geometry>
				<material name="Green"/>
			</visual>
			<collision>
				<origin xyz="0 0 0.058" rpy="${PI_2} 0 0"/>
	            <geometry>
	                <cylinder radius="0.04" length="0.14"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/HeadPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/HeadPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_shoulder_pitch" params="side">
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}ShoulderPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}ShoulderPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_shoulder_roll" params="side">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0.045 0 0" rpy="${PI_2} 0 ${PI_2}"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.09"/>
	            </geometry>
				<material name="Green"/>
			</visual>
			<collision>
				<origin xyz="0.045 0 0" rpy="${PI_2} 0 ${PI_2}"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.09"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}ShoulderRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}ShoulderRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_elbow_roll" params="side">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0.025325 0 0" rpy="${PI_2} 0 ${PI_2}"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.05065"/>
	            </geometry>
				<material name="Red"/>
			</visual>
			<collision>
	            <origin xyz="0.025325 0 0" rpy="${PI_2} 0 ${PI_2}"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.05065"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}ElbowRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}ElbowRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
  	</xacro:macro>

  	<xacro:macro name="visuals_collisions_wrist_yaw" params="side reflect">
  		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0.029 0 0" rpy="${PI_2} 0 ${PI_2}"/>
	            <geometry>
	                <box size="0.03 0.02 0.058"/>
	            </geometry>
				<material name="Yellow"/>
			</visual>
			<collision>
				<origin xyz="0.029 0 0" rpy="${PI_2} 0 ${PI_2}"/>
	            <geometry>
	                <box size="0.03 0.02 0.058"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/WristYaw.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/WristYaw.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
    </xacro:macro>

    <xacro:macro name="visuals_collisions_hip_yaw_pitch" params="side reflect">
    	<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}HipYawPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}HipYawPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
    </xacro:macro>

    <xacro:macro name="visuals_collisions_hip_roll" params="side">
    	<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}HipRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}HipRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_hip_pitch" params="side reflect">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 -0.05" rpy="0 0 0"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.1"/>
	            </geometry>
				<material name="Yellow"/>
			</visual>
			<collision>
				<origin xyz="0 0 -0.05" rpy="0 0 0"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.1"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}HipPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}HipPitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_knee_pitch" params="side reflect">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 -0.05" rpy="0 0 0"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.1"/>
	            </geometry>
				<material name="Yellow"/>
			</visual>
			<collision>
				<origin xyz="0 0 -0.05" rpy="0 0 0"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.1"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}KneePitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}KneePitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_ankle_pitch" params="side">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 -0.023" rpy="0 0 0"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.046"/>
	            </geometry>
				<material name="Yellow"/>
			</visual>
			<collision>
				<origin xyz="0 0 -0.023" rpy="0 0 0"/>
	            <geometry>
	                <cylinder radius="0.02" length="0.046"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}AnklePitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}AnklePitch.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<xacro:macro name="visuals_collisions_ankle_roll" params="side">
		<xacro:unless value="${nao_meshes}">
			<visual>
				<origin xyz="0.02 0 -0.042" rpy="0 0 0"/>
	            <geometry>
	                <box size="0.16 0.08 0.015"/>
	            </geometry>
				<material name="Yellow"/>
			</visual>
			<collision>
	            <origin xyz="0.02 0 -0.042" rpy="0 0 0"/>
	            <geometry>
	                <box size="0.16 0.06 0.015"/>
	            </geometry>
			</collision>
		</xacro:unless>
		<xacro:if value="${nao_meshes}">
			<visual>
				<origin xyz="0 0 0" rpy="-${PI_2} -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/visual/${side}AnkleRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 -0 0"/>
				<geometry>
					<mesh filename="package://nao_meshes/meshes/V40/collision/${side}AnkleRoll.dae"  scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="LightGrey"/>
			</collision>
		</xacro:if>
	</xacro:macro>

	<!-- END OF XACRO MACROS -->

</robot>