<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- MACROS FOR MIMIC JOINTS -->
    <!-- Fingers -->
    <xacro:macro name="FingerMimics" params="side num">
        <plugin name="mimic_${side}Finger${num}" filename="libgazebo_mimic_joint_plugin.so">
            <joint>${side}Hand</joint>
            <mimicJoint>${side}Finger${num}</mimicJoint>
            <multiplier>-${PI/4}</multiplier>
            <offset>${PI/4}</offset>
        </plugin>
        <plugin name="mimic_${side}Finger${num}_1" filename="libgazebo_mimic_joint_plugin.so">
            <joint>${side}Hand</joint>
            <mimicJoint>${side}Finger${num}_1</mimicJoint>
            <multiplier>-${PI/4}</multiplier>
            <offset>${PI/4}</offset>
        </plugin>
        <plugin name="mimic_${side}Finger${num}_2" filename="libgazebo_mimic_joint_plugin.so">
            <joint>${side}Hand</joint>
            <mimicJoint>${side}Finger${num}_2</mimicJoint>
            <multiplier>-${PI/4}</multiplier>
            <offset>${PI/4}</offset>
        </plugin>
    </xacro:macro>
    <!-- Thumbs -->
    <xacro:macro name="ThumbMimics" params="side">
        <plugin name="${side}Thumb1_joint" filename="libgazebo_mimic_joint_plugin.so">
            <joint>${side}Hand</joint>
            <mimicJoint>${side}Thumb1_joint</mimicJoint>
            <multiplier>-${PI/4}</multiplier>
            <offset>${PI/4}</offset>
        </plugin>
        <plugin name="${side}Thumb1_2" filename="libgazebo_mimic_joint_plugin.so">
            <joint>${side}Hand</joint>
            <mimicJoint>${side}Thumb1_2</mimicJoint>
            <multiplier>-${PI/4}</multiplier>
            <offset>${PI/4}</offset>
        </plugin>
    </xacro:macro>
    <!-- GAZEBO ROS CONTROL AND IMU PLUGIN -->
    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/nao_dcm</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
        <plugin name="gazebo_ros_imu_controller" filename="${imu_plugin}">
            <robotNamespace>/nao_dcm</robotNamespace>
            <topicName>imu_data</topicName>
            <bodyName>imu</bodyName>
            <frameId>imu</frameId>
            <gaussianNoise>2.89e-08</gaussianNoise>
            <accelGaussianNoise>2.89e-08 2.89e-08 2.89e-08</accelGaussianNoise>
            <rateGaussianNoise>2.89e-08 2.89e-08 2.89e-08</rateGaussianNoise>
            <headingGaussianNoise>2.89e-08 2.89e-08 2.89e-08</headingGaussianNoise>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
            <updateRate>30.0</updateRate>
            <alwaysOn>true</alwaysOn>
        </plugin>
        <!-- Mimic joints through plugin develop by costashatz based on implementation by Goncalo Cabrita -->
        <plugin name="mimic_hipyawpitch" filename="libgazebo_mimic_joint_plugin.so">
            <joint>LHipYawPitch</joint>
            <mimicJoint>RHipYawPitch</mimicJoint>
            <multiplier>1.0</multiplier>
            <offset>0.0</offset>
        </plugin>

        <xacro:FingerMimics side="L" num="1"/>
        <xacro:FingerMimics side="L" num="2"/>
        <xacro:FingerMimics side="R" num="1"/>
        <xacro:FingerMimics side="R" num="2"/>

        <xacro:ThumbMimics side="L"/>
        <xacro:ThumbMimics side="R"/>
    </gazebo>
    <!-- END OF GAZEBO ROS CONTROL PLUGIN -->
    <!-- GAZEBO MATERIALS -->
    <gazebo reference="torso">
        <material>Gazebo/Blue</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="neck">
        <material>Gazebo/Red</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="gaze">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LShoulderDummy">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RShoulderDummy">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LShoulder">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LElbow">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LElbowDummy">
        <material>Gazebo/Red</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="l_wrist">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LFinger11">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LFinger12">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LFinger13">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LFinger21">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LFinger22">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LFinger23">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LThumb1">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LThumb2">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="l_gripper">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RShoulder">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RElbow">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RElbowDummy">
        <material>Gazebo/Red</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="r_wrist">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RFinger11">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RFinger12">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RFinger13">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RFinger21">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RFinger22">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RFinger23">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RThumb1">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="RThumb2">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="r_gripper">
        <material>Gazebo/Yellow</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>true</turnGravityOff>
    </gazebo>
    <gazebo reference="LHipYaw">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LHip">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LHipDummy">
        <material>Gazebo/Blue</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="LKnee">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="l_ankle">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="l_sole">
        <material>Gazebo/Blue</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.003</minDepth>
    </gazebo>
    <gazebo reference="RHipYaw">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RHip">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RHipDummy">
        <material>Gazebo/Blue</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="RKnee">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="r_ankle">
        <material>Gazebo/Green</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>
    <gazebo reference="r_sole">
        <material>Gazebo/Blue</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <selfCollide>false</selfCollide>
        <turnGravityOff>false</turnGravityOff>
        <fdir1>1 0 0</fdir1>
        <maxVel>1.0</maxVel>
        <minDepth>0.003</minDepth>
    </gazebo>
    <!-- END OF GAZEBO MATERIALS -->

</robot>