<?xml version="1.0"?>
<robot name="nao_robot_v4_H21" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- XACRO PROPERTIES -->
	<xacro:property name="H25" value="false" />

	<xacro:include filename="$(find nao_dcm_description)/urdf/nao_dcm_H21_control.xacro" />

	<xacro:include filename="$(find nao_dcm_description)/urdf/modules/robot.xacro" />

</robot>